.main-footer{
    background-color: #1B3C59;
    color: white;
    .nav-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        margin: 0 auto;
        padding: 10px;
        .info{
            img {
                height: auto;
                width: 200px;
            }
            list-style: none;
            li { 
            margin: 10px 0;
            }
        }
        .links {
            list-style: none;
            li { 
                margin: 10px 0;
                a {
                    text-decoration: none;
                    color: white;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}